$black: #232323;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;

$container-width: 90%;

$duration: 0.15s;

:root {
    --black: 
  rgba(0, 0, 0, 1);
    --flamingo: 
  rgba(235, 90, 30, 1);
    --white: 
  rgba(255, 255, 255, 1);
  
    --font-size-xs: 16px;
    --font-size-s: 23px;
    --font-size-m: 24px;
    --font-size-l: 32px;
    --font-size-xl: 40px;
  
    --font-family-proxima_nova-bold: "Proxima Nova-Bold";
    --font-family-proxima_nova-extrabold: "Proxima Nova-Extrabold";
    --font-family-proxima_nova-regular: "Proxima Nova-Regular";
    --font-family-proxima_nova-semibold: "Proxima Nova-Semibold";
  }
  
  
  
  .proximanova-regular-normal-black-24px {
    color: var(--black);
    font-family: var(--font-family-proxima_nova-regular);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .proximanova-bold-black-32px {
    color: var(--black);
    font-family: var(--font-family-proxima_nova-bold);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
  }
  .proximanova-normal-black-24px {
    color: var(--black);
    font-family: var(--font-family-proxima_nova-semibold);
    font-size: var(--font-size-m);
    font-weight: 400;
    font-style: normal;
  }
  .proximanova-bold-black-24px {
    color: var(--black);
    font-family: var(--font-family-proxima_nova-bold);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
  }